*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.subHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 2px solid #fff;
}

#returnBtn{
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px;
    background-color:#AA7DCE;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

}
#returnBtn:hover {
    background-color: #8b66aa;
    transform: scale(1.05);
}

#board{
    width: 450px;
    height: 450px;
    background-color: lightgray;
    border:10px solid darkgray;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5%;
}

#board div{
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.clicked{
    background-color: darkgray;
}

.bomb-1{
    color: #0000FF;
}

.bomb-2{
    color: #008000 ;
}

.bomb-3{
    color:  #FF0000;
}

.bomb-4{
    color: #800080;
}

.bomb-5{
    color: #FFA500;
}

.bomb-6{
    color: #008080;
}

.bomb-7{
    color: #8B4513;
}

.bomb-8{
    color:#000000;
}


#flag {
    width: 8vw;
    height: 8vh;
    font-size: 30px;
    background-color: lightgray;
    border: solid gray 2px;
    
}

