body {
    font-family: 'Arial', sans-serif;
    background-color: lightgray;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.top-bar {
    width: 100%;
    text-align: right;
    padding: 10px 20px;
}

.profile-container {
    background: #e0e6ed;
    border-radius: 20px;
    width: 350px;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-container:hover {
    transform: scale(1.03);
}

.profile-header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 5px solid #a4b9cf;
}

.profile-stats p {
    font-size: 18px;
    margin: 12px 0;
}

#picSelector {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#picSelector img {
    cursor: pointer;
    margin: 8px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#picSelector img:hover {
    transform: scale(1.15);
}

button {
    background-color: #6bb9f0;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #59a6db;
    transform: translateY(-3px);
}

#returnBtn {
    background-color: #AA7DCE;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-right:50px;
    margin-bottom:70px;


}

#returnBtn:hover {
    background-color: #8b66aa;
    transform: translateY(-2px);
}

#logoutBtn {
    background-color: #ef8275;
}

#logoutBtn:hover {
    background-color: #e76a58;
}

#editPic {
    background-color: #ffd564;
}

#editPic:hover {
    background-color: #ffca4b;
}
