<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <div class="user-info" onclick="location.href='{{ url_for('profile') }}'">
            <img src="{{ url_for('static', filename='images/' + current_user.profile_image) }}" alt="Profile Picture" class="profile-pic">
            <span>{{current_user.name}}</span>
        </div>
        <button onClick="window.location.href='/logout'" id="logoutBtn">Logout</button>

    </header>
    <main>
        <h1 id="minesweeper-title"> Minesweeper 🚩💣</h1>
        <h2>Welcome, {{current_user.name}}</h2>
        <div class="game-options">
            <button onClick="window.location.href='/game'" id="game-option">1 Player</button>
            <button onClick = "window.location.href='/game2p'" id ="game-option">2 Players</button>
<!--            <button onclick="location.href='/new_game_or_join'">2 Players</button>-->
            <!--            <button onClick="newGame()" id="newGameBtn">New Game</button>-->
<!--            <button id="continueGameBtn">Continue Game</button>-->
        </div>
    </main>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
