<!DOCTYPE html>
<html>
    <head>
        <title>Minesweeper</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename = 'minesweeper.css')}}">
        <script src="{{ url_for('static', filename='minesweeper.js') }}"></script>
    </head>
    
    <body>

        <div class="header">
            <h1>Minesweeper</h1>
            <button onclick="window.location.href='/dashboard'" id="returnBtn">← Return to Dashboard</button>
        </div>

        <!-- <h2>Leaderboard</h2>
        <h2>My Account</h2>
        <h2>Sign Out</h2> -->

        <h2>Mines: <span id="minesCount">0</span></h2>

        <div id="board">
        </div>
        <br>
        <button id="flag">🚩</button>





    </body>
</html>